
<div class="position-relative">
    <div class="position-absolute" style="left: 0; top: -80px;">
        <a class="btn btn-secondary btn-icon btn-pill" routerLink="/home" [title]="'HOME_PAGE' | translate">
            <i class="fe fe-home"></i>
        </a>
    </div>
</div>

<div class="dimmer" [ngClass]="{'active': loading}">
    <div class="loader"></div>
    <div class="min-height150 dimmer-content">
        <div class="my-5">

            <ng-container [ngSwitch]="true">
                <ng-container *ngSwitchCase="project.status === 'new'">

                    <div dragula="mediaItems" [(dragulaModel)]="items">
                        <div class="card rounded" *ngFor="let item of items; index as index" [ngClass]="{'opacity70': !item.isActive}">
                            <div class="card-body py-2 px-3">

                                <div class="row">
                                    <div class="col-6">

                                        <div class="row">
                                            <div class="col-2 text-muted py-5 drag-handle">
                                                <div class="font-middle">
                                                    <i class="d-block fe fe-more-horizontal"></i>
                                                    <i class="d-block fe fe-more-horizontal" style="margin-top: -1.4rem;"></i>
                                                    <i class="d-block fe fe-more-horizontal" style="margin-top: -1.4rem;"></i>
                                                </div>
                                            </div>
                                            <div class="col-10">
                                                <div class="position-relative text-center max-width-100 mx-auto show-on-hover-parent">
                                                    <img [src]="getImageUrl(item)" alt="" class="rounded-circle max-width-100">
                                                    <div class="position-absolute w-100 h-100 bg-white-transp show-on-hover" style="left: 0; top: 0;">
                                                        <button type="button" class="btn btn-secondary btn-icon btn-pill btn-icon-center" [title]="'EDIT' | translate" (click)="openModalPhotoEditComponent(item, $event)">
                                                            <i class="fe fe-edit"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-6">

                                        <div class="row">
                                            <div class="col-8 pt-2">
                                                <label for="fieldTextContent{{index}}">
                                                    {{'SLIDE_TEXT' | translate}}:
                                                </label>
                                                <input type="text" id="fieldTextContent{{index}}" class="form-control" [(ngModel)]="item.textTitle" [disabled]="!item.isActive">
                                            </div>
                                            <div class="col-4 text-right pt-5">
                                                <label class="custom-switch mt-4 pr-2 cursor-pointer">
                                                    <input type="checkbox" value="1" class="custom-switch-input" [(ngModel)]="item.isActive">
                                                    <span class="custom-switch-indicator"></span>
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="text-center">
                            <input type="file" class="d-none" accept="audio/*" #fileInput (change)="onFileSelect()">
                            <button type="button" class="btn btn-secondary d-inline-block vertical-top mb-2 mr-2" (click)="selectFile($event)" [ngClass]="{'btn-loading': loadingAudio}">
                                <i class="fe fe-upload"></i>
                                {{'SELECT_AUDIO_FILE' | translate}}
                            </button>
                            <select class="form-control d-inline-block w-auto vertical-top mb-2 mr-2" [(ngModel)]="project.options.musicName" (ngModelChange)="this.audioPlayer.pause()">
                                <option *ngFor="let musicName of music" [value]="musicName">{{musicName}}</option>
                            </select>
                            <button type="button" class="btn btn-success d-inline-block vertical-top mb-2" [title]="'PLAY_PAUSE' | translate" (click)="playAudio($event)">
                                <i class="fe fe-play" *ngIf="this.audioPlayer.paused"></i>
                                <i class="fe fe-pause" *ngIf="!this.audioPlayer.paused"></i>
                            </button>
                        </div>
                    </div>

                    <div class="text-center">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary" [ngClass]="{'active': project.options.size === 'hd'}">
                                <input type="radio" name="fieldOptionssize" value="hd" autocomplete="off" [(ngModel)]="project.options.size">
                                HD
                            </label>
                            <label class="btn btn-secondary" [ngClass]="{'active': project.options.size === 'full_hd'}">
                                <input type="radio" name="fieldOptionssize" value="full_hd" autocomplete="off" [(ngModel)]="project.options.size">
                                Full HD
                            </label>
                        </div>

                        <button type="button" class="btn btn-pill btn-primary btn-lg ml-4" (click)="createProject()" [ngClass]="{'btn-loading': renderingStarted}" [disabled]="renderingStarted">
                            {{'CREATE_VIDEO' | translate}}
                        </button>
                    </div>

                </ng-container>
                <ng-container *ngSwitchCase="project.status === 'pending' || project.status === 'processing'">

                    <h3 class="text-secondary text-center">
                        {{'PLEASE_WAIT' | translate}}...
                    </h3>

                    <div class="my-5">
                        <div class="progress rounded border" style="height: 2rem;">
                            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%" #progressBar></div>
                        </div>
                        <div class="position-relative">
                            <div class="position-absolute text-center w-100" style="bottom: 1rem;">
                                <div class="btn-loading btn-secondary"></div>
                            </div>
                        </div>
                        <div class="text-center py-2">
                            {{progressMessage}}
                        </div>
                    </div>

                </ng-container>
                <ng-container *ngSwitchCase="project.status === 'completed'">

                    <div class="bg-dark">
                        <video class="d-block" [src]="movieFileUrl" controls style="width: 100%; height: 408px;" #movieVideo></video>
                    </div>

                    <div class="py-5 text-center">
                        <a class="btn btn-primary btn-lg btn-pill" href="/project_download/{{project.uniqueId}}" target="_blank">
                            <i class="fe fe-download"></i>
                            {{'DOWNLOAD' | translate}}
                        </a>
                    </div>

                </ng-container>
            </ng-container>

            <div class="alert alert-icon alert-danger mt-4" role="alert" *ngIf="errorMessage">
                <i class="fe fe-alert-triangle mr-2" aria-hidden="true"></i>
                {{errorMessage}}
            </div>

        </div>
    </div>
</div>