
body, html { height: 100%; margin: 0; }
body { background-color: transparent; }

/* fonts */
@font-face {
    font-family: 'Comfortaa';
    src: url('assets/fonts/Comfortaa/Comfortaa-Regular.ttf');
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Comfortaa', sans-serif; }
.app-bg { background: url("assets/img/background6-blurred.jpg") no-repeat 0 0 fixed; background-size: cover; height: 100%; }

.max-width-150 { max-width: 150px; }
.max-width-100 { max-width: 100px; }
.min-height200 { min-height: 200px; }
.min-height150 { min-height: 150px; }
.bg-white-transp { background-color: rgba(255,255,255,0.7); }
.opacity50 { opacity: 0.5; }
.opacity70 { opacity: 0.7; }
.cursor-pointer { cursor: pointer; }
.rounded { border-radius: 12px !important; }
.font-big { font-size: 3rem; }
.font-middle { font-size: 2rem; }
.drag-handle { cursor: move; }
.drag-handle * { pointer-events: none; }
.vertical-top { vertical-align: top; }

/* button */
.btn-icon-center { position: absolute; left: 50%; top: 50%; margin: -18px 0 0 -30px; }

/* show-on-hover */
.show-on-hover { opacity: 0; transition: opacity 300ms; }
.show-on-hover-parent:hover .show-on-hover,
.show-on-hover-sibling:hover + .show-on-hover { opacity: 1; }
